@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {

    --White: #FFFFFE;
    --Light-Grey-1: #EFF0F3;
    --Light-Grey-2: #E4E5E9;
    --Grey: #C0C0C0;
    --Dark-Grey: #9A9494;
    --Black: #2B2C34;
    --Blue: #6246EA;

}

.container {
    width: 100%;
    max-width: 1250px;
    margin-inline: auto;
}

body {
    font-family: 'Plus Jakarta Sans', serif;
}


/*--------------- header ----------*/

header {
    background: var(--Light-Grey-1);
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;

    height: 86px;
    width: 100%;
    z-index: 1000;
}

header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}

.header-logo>h2 {
    color: #001858;
    font-size: 36px;
    font-weight: 600;
}

.header-logo span {
    color: var(--Blue);
    font-size: 18px;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
}

.nav-item a {
    color: var(--Black);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-button {
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--Blue);

    color: var(--White);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}


/*---------------- main| intro ----------*/

.intro {
    background: var(--Light-Grey-1);
    padding-top: 250px;
    padding-bottom: 263px;
}

.intro>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    align-items: start;
}

.intro-title {
    width: 617px;

    color: #2B2C34;
    font-size: 64px;
    text-transform: capitalize;
}

.intro-text {
    color: var(--Dark-Grey);
    font-size: 20px;
    width: 667px;
    height: 51px;
    padding-left: 12px;

    position: relative;
}

.intro-text::before {
    content: '';
    display: block;
    width: 3px;
    height: 56px;
    background-color: var(--Black);

    position: absolute;
    left: 0;
    top: -3px;
}


.form {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.form>input {
    width: 444px;
    height: 67px;

    padding: 21px 25px;
    border-radius: 8px;
    background: var(--White);
    border: none;
    font-size: 20px;
}

.form>input::placeholder {
    color: var(--Grey);
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
}

.button-subscribe {
    height: 67px;
    width: 145px;
    border-radius: 8px;
    background: var(--Blue);

    color: var(--White);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}


/*------------------ main| category -----------------*/

.category {
    background-color: var(--Light-Grey-1);
    padding-block: 68px;
    height: 500px;
}

.category>.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 50px;

    position: relative;
}

.category-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-title {
    color: var(--Black);
    font-size: 24px;
    text-transform: capitalize;
}

.category-link-box a {
    color: var(--Black);
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 12px;
}

.category-link-box a svg {
    margin-bottom: 2px;
}


.category-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
}

.category-card {
    width: 220px;
    height: 280px;
    border-radius: 8px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    background: var(--White);
    padding-top: 65px;
    padding-left: 30px;

    z-index: 2;
    transition: all linear .2s;
    cursor: pointer;
}

.category-card:hover {
    background-color: var(--Blue);
}

.category-card:hover .category-name {
    color: var(--White);
}

.category-card-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    align-items: start;
}

.category-image-box {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-name {
    color: var(--Black);
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;

    transition: all linear .2s;
}


.category-points {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 155px;

    position: absolute;
    bottom: -45px;
    left: 184px;
    z-index: 1;
}

.category-points-item {
    display: flex;
    width: 100px;
    height: 100px;
    padding-bottom: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/*---------------- Main| lesson*/

.lesson {
    padding-block: 80px;
    background: var(--White);
}

.lesson>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 80px;
}

.lesson-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.lesson-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.lesson-card {
    width: 300px;
    height: 425px;
    padding: 20px;
    border-radius: 12px;
    background: var(--White);
    transition: all linear .15s;
}

.lesson-card:hover {
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.lesson-card a {
    height: 273px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 25px;
}

.lesson-card-title {
    color: var(--Black);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    z-index: 2;
}

.lesson-card-about {
    width: 100%;
    margin-top: 55px;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.lesson-card-info {
    width: 100%;
}

.lesson-card-name {
    color: var(--Black);
    font-size: 16px;
    font-weight: 600;
}

.lesson-card-time-box {
    color: var(--Black);
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    height: 21px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
}

.lesson-card-time-box p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lesson-card-time-box p span {
    display: block;
    margin-bottom: 2px;
}


.lesson-button-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lesson-button {
    width: 165px;
    height: 64px;
    border-radius: 8px;
    background: var(--Blue);

    color: var(--White);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}


/*----------- Subscribe --------*/

.subscribe {
    background: var(--Light-Grey-1);
    padding-block: 58px;
}

.subscribe>.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-image-box {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--White);
    margin-bottom: 30px;

    display: flex;
    align-items: end;
    justify-content: center;
}

.subscribe-title {
    margin-bottom: 10px;
    color: var(--Black);
    font-size: 36px;
    text-transform: capitalize;
}

.subscribe-text {
    margin-bottom: 30px;
    color: var(--Grey);
    text-align: center;
    font-size: 20px;
}


/*---------- footer --------*/

footer {
    height: 435px;
    background: var(--Light-Grey-2);
}

footer>.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 70px;
}

.footer-main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 160px;

    padding-bottom: 50px;
    border-bottom: 1px solid var(--Grey);
}

.footer-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.footer-header-name {
    width: 284px;
    color: var(--Black);
    font-size: 18px;
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}


.footer-content {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 95px;
}

.footer-content-title {
    margin-bottom: 25px;
    color: var(--Black);
    font-size: 20px;
    text-transform: uppercase;
}

.footer-content-link-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.footer-content-link {
    color: var(--Black);
    font-size: 18px;
}


.copyright {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.copyright>p {
    color: var(--Black);
    font-size: 14px;
}





